* { 
    box-sizing: border-box; 
}

header h1,p {
    display: inline;
    margin: .5em;
}

#submit-button {
    margin-left: 30px; 
}

#content {
    grid-template-columns: minmax(min-content, 13%) minmax(min-content, 35%) minmax(min-content, 35%);
    margin-left: 2%;
    margin-right: 2%;
    column-gap: 6em;
}
#schedule-wrapper {
    grid-template-columns: 1fr;
}

.grid-wrapper {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: right;
    /* column-gap: 1em; */
}

.course-item {
    margin: .1em 0;
    padding: .5em;
    background-color: beige;
    border: 2px blue solid;
}

.placeholder {
    border: 2px grey dotted;
    background-color: aliceblue;
}

.course-title {
    padding: 5%;
}

.course-container {
    padding: 1em 0em 1em 0em;
}

.term-title {
    padding-left: 3%;
    margin-bottom: -10px;
    font-weight: bold;

}

#create-sched {
    padding-top: 1em;
}

.delete-term {
    z-index: 100;
    position: relative;
}