* { 
    box-sizing: border-box; 
}

header h1,p {
    display: inline;
    margin: .5em;
}

#submit-button {
    margin-left: 30px; 
}

#content {
    grid-template-columns: minmax(min-content, 13%) minmax(min-content, 35%) minmax(min-content, 35%);
    margin-left: 2%;
    margin-right: 2%;
    column-gap: 6em;
}
#schedule-wrapper {
    grid-template-columns: 1fr;
}

.grid-wrapper {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: right;
    /* column-gap: 1em; */
}

.course-item {
    margin: .1em 0;
    background-color: beige;
    border: 2px blue solid;
    padding: .5em;
}

.course-number, .course-title {
    
}

.placeholder {
    border: 2px grey dotted;
    background-color: aliceblue;
}

.course-container {
    padding: 1em 0em 1em 0em;
}

.term-title {
    padding-left: 3%;
    margin-bottom: -10px;
    font-weight: bold;

}

#create-sched {
    padding-top: 1em;
}

.delete-term {
    z-index: 100;
    position: relative;
}

#titleform { 
    display: inline;
}

#schedule, #unscheduled {
    max-width: 35em;
}

.course-number {
    font-weight: bold;
    padding-right: .5em;
}

.quarterspan {
    float: right;
    margin-right: -4px;
}

.active_qtr, .inactive_qtr {
    margin-left: -4px;
}

.active_qtr {
    font-weight: bold;
}

.inactive_qtr {
    font-weight: lighter;
}

#add_qtr_before {
    margin-bottom: 1em;
}

h2 {
    margin-bottom: -.5em;
}