{% load static %}
<link rel="stylesheet" href="{% static 'planner/styles.css' %}">

<h1>{{ schedule.name }}</h1>
<h2>Scheduled Courses</h2>
<ul>
    {% for sc in sched_courses %}
    <li>{{ sc.course }} {{ sc.year }} {{ sc.qtr }} </li>
    {% endfor %}
</ul>

<h2>Unscheduled Requirements</h2>
<ul>
    {% for course in unsched_req %}
    <li> {{ course }} </li>
    {% endfor %}
</ul>


<h2>Unscheduled Electives</h2>
<ul>
    {% for course in unsched_elec%}
    <li> {{ course }} </li>
    {% endfor %}
</ul>

<div class="grid-wrapper">
    {% for qtr in qtr_set%}
    <div class="qtr grid">
    {{ qtr.year }} {{ qtr.qtr}}
    </div>
    {% endfor %}
</div>