<!DOCTYPE html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'planner/styles.css' %}">
    <link rel="stylesheet" href="{% static 'planner/dragula.css' %}">
</head>

<body>
    <header>
        <h1 id="sched-name">{{ schedule.name }}</h1>
        <p>{{ user.username }}</p>
    </header>
    <section id="content" class="grid-wrapper">
        <div id="unscheduled">
            <h2>Outstanding Requirements</h2>
            <div class="course-container" id="req-container">
                {% for course in unsched_req %}
                <div class="course-item">
                    <span class="course-title">{{ course }}</span>
                </div>
                {% endfor %}
            </div>
            <h2>Available Electives</h2>
            <div class="course-container" id="elec-container">
                {% for course in unsched_elec%}
                <div class="course-item">
                    <span class="course-title">{{ course }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="schedule">
            <div id="schedule-wrapper" class="term-container grid-wrapper container">
                {% for term, courses in sched_info.items %}
                <div class="qtr grid _{{ term.0 }} _{{ term.1}}" id="_{{term.0}}_{{term.1}}">
                    <div class="term-title">{% if term.1 == 0 %}Winter
                        {% elif term.1 == 1 %}Spring
                        {% elif term.1 == 2 %}Summer
                        {% elif term.1 == 3 %}Fall
                        {% endif %}{{term.0}}
                    </div>
                    <div class="course-container">
                        {% if courses|length > 0 %}
                        {% for course in courses %}
                        <div class="course-item">
                            <span class="course-title">{{ course.course }}</span>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="course-item empty-item">
                            <span class="empty-title course-title">drag here. delete button eventually --> [x]</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    <footer>
        <script src="{% static 'planner/dragula.js' %}"></script>
        <script src="{% static 'planner/dragging.js' %}"></script>
    </footer>
</body>