<!DOCTYPE html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'planner/styles.css' %}">
</head>

<body>
    <header>
        <h1>{{ schedule.name }}</h1>
    </header>
    <section id="content">
        <div id="unscheduled">
            <h2>Unscheduled Requirements</h2>
            <ul>
                {% for course in unsched_req %}
                <li> {{ course }} </li>
                {% endfor %}
            </ul>


            <h2>Unscheduled Electives</h2>
            <ul>
                {% for course in unsched_elec%}
                <li> {{ course }} </li>
                {% endfor %}
            </ul>
        </div>
        <div id="scheduled">
            <div class="grid-wrapper container">
                {% for term, courses in sched_info.items %}
                <div class="qtr grid _{{ term.0 }} _{{ term.1}}" id="_{{term.0}}_{{term.1}}">
                    <h4>{{ term.0 }} {{ term.1}}</h4>
                    <ul>
                        {% for course in courses %}
                        <li> {{course.course}} </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>